body {
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h1,
h2,
h3,
h4,
p a {
    color: rgb(182, 159, 97);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}
